name: Publish to VS Marketplace

on:
  workflow_dispatch:

permissions:
  contents: write
  actions: read

jobs:
  publish:
    uses: CodingWithCalvin/.github/.github/workflows/vsix-publish.yml@main
    with:
      extension-name: Debugalizers
      display-name: 'Debugalizers'
      marketplace-id: CodingWithCalvin.VS-Debugalizers
      description: 'A powerful collection of debug visualizers for Visual Studio'
      hashtags: '#debugger #visualizer'
    secrets: inherit
